main 
{
display: grid;
grid-template-columns: 1fr;
grid-row: 2;
}

html 
{
    background-color: whitesmoke;
}

section {
    border: 1px solid black;
    padding: 10px;
}

img 
{
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;

}


h1
{
color: #0504aa    ;
    max-width: 100%;
    padding: 7px;
    background-color: #CD7A00;
    text-align: center;
}

h3 
{
color: #0504aa    ;
    background-color: #CD7A00;
    padding: 3px;
    margin:0;
text-align: center;
}


p 
{
        color:#0504aa;
    text-align: center;
}

footer {
    background-color: #CD7A00;
    left: 0;
    right: 0;
    height: auto;
    margin: 0 auto;
    max-width: 900px;
    
}
footer p 
{
    color: black;
}
footer a{
    color: black;
}