@media only screen and (min-width: 519px) and (max-width: 719px) {



    h1 {
   
        font-size: 3.5em;
       
      }
      
      h2 {

        font-size: 2em;
      
      }
      
      h3 {
   
        font-size: 1.5em;
    
      }

      h4{
        
        font-size: 1.1em;
    
      }
      p {
          font-size: 1em;
      }

ul#main {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-evenly;
   border: 1px solid #94110C;
}

ul#main li a{
    padding: 10px;
}

button{
    display: none;
}

ul.hidden{
    display: flex;
}
 .social{
    float: right;
  }

  .social{
    float: right;
  }

  #weather{
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #weather div{
    border: 0;
  }


  #grid-gallery{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      margin: 20px;

  }


  #contact p
  {
    font-size: 1.5em;
  }

  iframe{
    width: 450px;
  }





























}