html{
    background-color: #C0B9AE;
}
body{
  margin: 4px;
  padding: 5px
}


nav{
  display: block;
  background-color: #94110C;
}

  
  ul#main li a.active{
   color: White;
   text-decoration: underline;
 }

button{
    margin: 5px;
    float: right;
    background-color: #C0B9AE;
    color: #363A35;
    font-size: 20px;
    display: block;
    float: left;
}

.Site-Head {
    display: flex;
    flex-direction: column;
    margin: 5px;

  }

  #tagline{
      font-style: italic;
  }
  
  h1 {
    color: #94110C;
    font-size: 3em;
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
  }
  
  h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5em;
    color: #94110C;
  }
  
  h3 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1em;
    color: #94110C;
    margin: 0;

  }

  h4{
    font-family: 'Luckiest Guy', cursive;
    font-size: .8em;
    color: #94110C;

  }

  p{

    font-family: 'Dosis', sans-serif;
    font-size: .8em;

  }
  
 
  
  #flexbox {
    display: flex;
    align-items: center;
    justify-content: left;
  
    max-width: 100%;
  }

  #flexbox img{
      margin-right: 10px;;
  }
  
  ul#main{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    
  }


  
  ul#main li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;

    font-family: 'Dosis', sans-serif;
    font-size: 1em;

    color: #363A35;
  }
  
  ul#main li a:hover{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }
  
  ul.hidden {display: none;}
  
  
  main{
    color: #363A35;

  }


  #highlight img{
      height: auto;
      max-width: 100%;
  }

  #highlight p{
    font-family: 'Dosis', sans-serif;
  }


.gallery {
  margin: 20px;
  width: 100%;
  padding:5px;
  
}



div.inset{
  padding: 20px;
  text-align: center;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
}
 
.glow{
  animation: glow 1s ease-in-out infinite alternate;}


  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0f00e6, 0 0 40px #0f00e6, 0 0 50px #0f00e6, 0 0 60px #0f00e6, 0 0 70px #0f00e673;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #b3d107, 0 0 40px #b3d107, 0 0 50px #b3d107, 0 0 60px #b3d107, 0 0 70px #b3d107, 0 0 80px #b3d107;
    }
  }

  footer{
    border: 1px solid black;

  }
  footer ul{
    list-style-type: none;
  }
  footer button{
    display: block;
  }

  #weather{
    background-color: white;
    display:flex;
    flex-direction: column;
  }
  #weather div{
    border: 1px solid black;
  }

  .focus{
    transition: transform .2s;
  }
 
  .focus:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

  #grid-gallery figure{
    justify-content: center;
    align-content: center;
    display: inherit;
  }

  #summer{
    border: 3px solid #94110C;
    padding: 5px;
  }

  #contact{
    text-align: center;
  }

  #contact p
  {
    font-size: 1em;
  }

  iframe{
    width: 400px;
  }

  .personal{
    border: 1px solid black;
    padding: 5px;

  }
 
  .rental{
    border: 1px solid black;
    padding: 5px;
  }




  .rentals img{
    width: 100%;
      height: auto;    
    }


