@media only screen and (min-width: 470px) and (max-width: 719px){
     button {display:none}
  

    ul {display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }
  
  ul li a{border: 1px solid rgba(205, 205, 0, .3);
    font-size: 1.1em;
    


}
    


    ul.hidden {display: grid;}

    .br{
        grid-column: 1 / span 2;
    }
    .br1{
        grid-column: 3 / span 5;
    }

h1
{
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}


#weather-content{
    display: none;
 }


#icon-cast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
    font-size: 20px;
    justify-self: center;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: grey;
    color: white;
  }

p{
    font-size: 1.1em;
}

nav ul li a{
    font-size: 1.2em;
    

}
ul li a{
    padding: 1rem 3%;
}


nav ul.hidden {display: grid;}

picture img {
    width: 100%;
    height: 100%;
    margin: 5px;

}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;    
 }

 

#social{
 display: inline-block;
    grid-row: 3/ span 4;
  }

  #contact{
 grid-row: 1/ span 3;
 grid-column:2/ span 3;


}

#hero-text{
    
    position: absolute;
    color: #cdcd00;
    background-color: black;
    padding: 5px;
    font-size: 10px;
    opacity: .8;
    
 
 }
  

#FI{
    display: none;
}

#FI2{
    height: auto;
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
  grid-row: 1;
  grid-column: 1/ span 2;
}

#social{
    grid-row: 4/ span 5;
    grid-column: 2/ span 3;
}

.hero{
    height: auto;
    
}
}