html{
  background-color: #006400;

}
.Site-Head {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  font-family: "Alegreya Sans SC", sans-serif;
  margin: 0;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.5em;
}

h3 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1em;
}

#motto{
  margin: 0;
}

#logo
{
  width: 51px;
  height: 51px;
  margin: 5px;

}
picture img {
  width: 100%;
  height: auto;

}

.hero
{
  height: auto;
}
#flexbox {
  display: flex;
  align-items: center;
  justify-content: left;

  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #9e0e0e;
  
}

button{
  
  background-color: #9E0E0E;
  border: none;
  font-size: 1rem;
  color: #cdcd00;

}

ul li a{
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: rgba(205, 205, 0, .8);
  border-top: 1px solid rgba(205, 205, 0, .3);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1em;
  text-align: center;
}

ul li a:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

ul.hidden {display: none;}



main{
  padding: 10px;
  max-width: 100%;
  background-color: white;
  margin: 0 auto;
}