@media only screen and (min-width: 720px) {
    button {display:none}
 

   ul {display: grid;
       grid-template-rows: 1fr;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   
   }

   .mapouter{
      display: block;
    }


   ul.hidden {display: grid;}



h1
{
   font-size: 3.5em;
}

h2 {
   font-size: 2.5em;
}

h3{
   font-size: 1.9em;
}

p{
   font-size: 1.6em;
}


#icon-cast{
   display: inline-flex;
   column-count: 5;
   flex-direction: row;
   justify-content: space-evenly;
   font-size: 18px;
   padding: 0;
   width: 100%; 

   height: fit-content;
   background-color: #006400;
   color: #cdcd00;

   border: 1px solid #9E0E0E;
 }

 .icon-column 
 {
   margin: 10px;
   padding: 10px;
   border: none;
 }

nav ul li a{
   font-size: 1.7em;


}

ul li a{
 
   padding: 1rem 0%;
   font-size: 1.2em;
}

nav ul.hidden {display: grid;}

picture img {
   width: 100%;
   height: 100%;
   margin: 5px;

}



#hero-text{
   display: inherit;
   position: absolute;
   bottom: 8px;
   left: 16px;
   color: #cdcd00;
   background-color: black;
   padding: 10px;
   font-size: 15px;
   opacity: .8;
   width: 240px;

}

iframe{
   height: 400px;
}

footer{
   display: grid;
   
}
footer picture{
   margin-top: 20px;
 margin-right: 20px;
 grid-row: 1 / 3;

}


#contact{
   grid-row: 1;
   grid-column:2/ span 3;
  
}

#article-pic
{
  
  float: initial;
  margin: 10px;
   height: 300px;
   width: auto;
   bottom: 10px;
   
}

#article
{

  border: 1px solid #9E0E0E;
  background-color: whitesmoke;
  padding: 10px;
  height: fit-content;

}




#social{
   display: inline;
   grid-row: 2;
   grid-column: 2/ span 3;
 }


 .iconify { width: 64px; height: 64px; }


#FI{
   display: none;
}

#FI2{
   height: auto;
 max-width: 100%;
 
}

.hero{
   max-height: 720px;
   
   
}

}
